# Ignorer le contenu des dossiers de fiches techniques mais garder les dossiers
Fiche technique a traite/*
Fiche technique traite/*

# Garder les dossiers vides avec .gitkeep
!Fiche technique a traite/.gitkeep
!Fiche technique traite/.gitkeep


# Fichiers temporaires et autres fichiers générés
*.csv
*.xlsx
__pycache__/
*.py[cod]
*$py.class

# Fichiers système
.DS_Store
Thumbs.db
