# Ignorer le contenu des dossiers de fiches techniques mais garder les dossiers
A Fiches techniques a traiter/*
B Fiches techniques traitees/*

# Garder les dossiers vides avec .gitkeep
!A Fiches techniques a traiter/.gitkeep
!B Fiches techniques traitees/.gitkeep


# Fichiers temporaires et autres fichiers générés
*.csv
*.xlsx
__pycache__/
*.py[cod]
*$py.class

# Fichiers système
.DS_Store
Thumbs.db
